<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Japanese</h1>
    <h2>Anything fresher you have to fly</h2>
    <p>Hello <%= yourName %></p>
    <p>Your lucky number is <%= luckyNumber %></p>
    <% if (luckyNumber < 50) { %>
        <p>Your lucky number is not too high</p>
    <% } else { %>
        <p>Your lucky number is auspicious</p>
    <% } %>
</body>
</html>